body {
  margin: 0;
  padding: 4em 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #4e54c8 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.full-width {
  width: 100% !important;
}

.text-center {
  text-align: center;
}

h1 {
  margin-bottom: 2em !important;
  color: #fff;
}

.link {
  color: #fff;
  cursor: pointer;
}

.ui.modal>.header:not(.ui) {
  background: #4e54c8 !important;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8) !important;  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}